ul > li[class ^= "START"] {
    border: 1px solid red !important;
}

ul > li[class $= "START"] {
    border: 1px solid green !important ;
}

ul > li[class *= "START"] {
    border: 1px solid blue;
}

a:hover {
    text-decoration: none;
}

a[href $= ".pdf"] {
    padding-left: 20px;
    background: url(./img/van.png) no-repeat;    
}

#grad1 {
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */
}

.line {
    height: 6px;
    border-radius: 4px;
}

ul.child > li {
    margin-top: 10px;
}

ul.child :nth-child(3n+2) {
    border: 1px solid red;
}

ul.child :nth-child(3n+1) {
    border: 1px solid blue;
}

ul.child :nth-child(3n+3) {
    border: 1px solid green;
}