ul > li[class ^= "START"]{
    border: 1px solid red !important;
}

ul > li[class $= "START"]{
    border: 1px solid green !important ;
}

ul > li[class *= "START"]{
    border: 1px solid blue;
}

a:hover{
    text-decoration: none;
}

a[href $= ".pdf"]{
    padding-left: 20px;
    background: url(./img/van.png) no-repeat;
}